<!DOCTYPE html>
<html lang="en" xmlns:th = http://www.thymeleaf.org>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}">

        <script src="/payment.js"></script>

        <title>Article</title>
    </head>
    <body>
    <div class="main_container">
        <header class="header">
            <img src="/img/logo.png" alt="conf logo" class="logo">

            <form action="/search" class="search" method="get">
                <input type="text" class="search__input" placeholder="Search conferences" name="name">
                <button class="search__button">
                    <svg class="search__icon">
                        <use xlink:href="/img/sprite.svg#icon-magnifying-glass"></use>
                    </svg>
                </button>
            </form>

            <nav class="user-nav">
                <div class="user-nav__icon-box">
                    <svg class="user-nav__icon">
                        <use xlink:href="/img/sprite.svg#icon-bookmark"></use>
                    </svg>
                    <span class="user-nav__notification">7</span>
                </div>

                <div class="user-nav__user">
                    <img src="/img/user.jpg" alt="User photo" class="user-nav__user-photo">
                    <span class="user-nav__user-name" th:text="${username}"></span>
                </div>
            </nav>
        </header>


        <div class="content">
            <nav class="sidebar">
                <ul class="side-nav">
                    <li class="side-nav__item">
                        <a href="/" class="side-nav__link">
                            <span>Browse Confernces</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="/myConferences" class="side-nav__link">
                            <span>My Confernces</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="/articleList" class="side-nav__link">
                            <span>Articles</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="/logout" class="side-nav__link">
                            <span>Log out</span>
                        </a>
                    </li>
                </ul>

                <div class="legal">
                    &copy; 2021 by Ept. All rights reserved.
                </div>
            </nav>



                <main class="hotel-view">
                  <div class="infos">
                    <h1>Informations</h1>
                    <h3 class="attribute">Title :</h3>
                    <p th:text="${article.title}" style="margin-left: 3rem"></p>
                    <h3 class="attribute">themes :</h3>
                      <p style="margin-left: 3rem">
                      <th:block th:each = "theme : ${article.themes}">
                          <span th:text="${theme.getName()}"></span> &nbsp;
                      </th:block>
                      </p>
                    <h3 class="attribute">description :</h3>
                    <p th:text="${article.description}" style="margin-left: 3rem"></p>
                    <h3 class="attribute">rating: <span class="rating" th:text="${article.rating} + ' / 3'"></span></h3>
                    <div th:if="${!view}">
                      <form th:action="@{/rateArticle/{id}(id = ${article.id})}" th:method="POST">
                      <input type="number" step="0.1" min="0" max="3" name="rating" id="rating">
                      <button class="btn btn-primary" type="submit">rate</button>
                    </form>
                  </div>
                  </div>
                  <div style="margin-left: 5rem;margin-bottom: 3rem">
                    <h1>preview</h1>
                    <a th:href="@{/preview/{id}(id = ${article.getId()})}">preview the article (pdf)</a>
                  </div>
                </main>
            </div>
        </div>
    </body>
</html>
